extends ../layouts/default-normal-header

block opengraph
	title= '糟糕，您想找的頁面不見了！ | 奧革設計 - 創業公司的設計夥伴'
	meta(property='og:site_name', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:type', content='website')
	meta(property='og:url', content='')
	meta(property='og:title', content='糟糕，您想找的頁面不見了！ | 奧革設計 - 創業公司的設計夥伴')
	meta(property='og:description', content='精心整理了各式各樣的設計資源，有各種靈感、資源、工具，設計師的你別錯過了！')
	meta(property='og:image', content='/images/home-cover.jpg')
	meta(property='og:locale', content='zh_TW')

block content
	.page-404
		.bg.marginBottom-m
		.textAlign-center
			h4 糟糕，您想找的頁面不見了！
			a.button.button-l.button-primary(href="/") 回到首頁