extends ../layouts/default


block opengraph
	//- meta(property='fb:app_id', content='138566025676')
	title= title || '服務項目 - 奧革設計 - 創業公司的設計夥伴'
	meta(name="description", content="奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。")
	meta(name="keywords", content="網頁設計,App設計,使用者經驗設計,網站開發,設計顧問,設計諮詢")
	meta(property='og:site_name', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:type', content='website')
	//- meta(property='og:url', content='')
	meta(property='og:title', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:description', content='奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。')
	meta(property='og:image', content='http://www.ogdesign.tw/images/home-cover.jpg')
	meta(property='og:locale', content='zh_TW')
	base(href="/#")

block content
	.banner.medium(style='background-image: url(images/bg3.jpg)')
		.container.textAlign-center
			.info
				h2.quote.fontWeight-regular 我們設計的不只是產品， <br>我們更打造讓你感覺順暢的使用體驗
	

	section
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-ux.svg", alt="")
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 使用經驗（UX）優化設計
					.marginBottom-s
					p.lineHieght-loose 依照您的需求進行客製化的分析以及研究，從用戶體驗的視角提出新穎的解決方式，讓使用者需求與商業目標在您的產品中找到完美平衡。依照您的需求進行客製化的分析以及研究，從用戶體驗的視角提出新穎的解決方式，讓使用者需求與商業目標在您的產品中找到完美平衡。

	section.grey
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 使用者介面（UI）設計
					.marginBottom-s
					p.lineHieght-loose 好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-ui.svg", alt="")

	section
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-rwd.svg", alt="")
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 響應式網頁設計（RWD）
					.marginBottom-s
					p.lineHieght-loose 響應式網頁設計 (Responsive Web Design，RWD) 是現在這個多元裝置時代不可或缺的服務，我們將協助您打造絕佳的使用體驗。響應式網頁設計是現在這個多元裝置時代不可或缺的服務，我們將協助您打造絕佳的使用體驗。

	section.grey
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 視覺設計（Visual Design）
					.marginBottom-s
					p.lineHieght-loose 利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-vd.svg", alt="")

	section
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-mvp.svg", alt="")
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 產品雛形設計（MVP 設計）
					.marginBottom-s
					p.lineHieght-loose 利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。

	section.grey
		.container
			.row.middle-md
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1
					h2 設計諮詢協助
					.marginBottom-s
					p.lineHieght-loose 好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。好的設計顯而易見，偉大的設計透明不現。我們不斷研究，讓介面不僅好看，更要好用。
				.col-md-6.col-lg-4.col-md-offset-0.col-lg-offset-1.textAlign-center
					img(src="/images/service-consult.svg", alt="")

	section.cta.mac-devices
		.content
			h2 需要 UI / UX 設計上的協助嗎？<br>我們期待與您聊聊彼此的想法！
			.marginBottom-m
			a.button.button-l.button-primary(href="/contactus") 聯絡我們
			.marginBottom-m
			p 您有專案時程或預算上的問題嗎？查看
				a(href='/qa') 常見問題問與答
				| 。

block js
	//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
	//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js')
	script(src='/js/angular-google-analytics.min.js')
	script(src='/js/mousetrap.js')
	script(src='/js/wMousetrap.js')
	script(src='/js/is.min.js')
	script(src="/js/jquery.scrolldepth.min.js")
	script(src="/js/landinga.js")
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId				:'YOUR_APP_ID', // App ID
				channelUrl	: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				status			: true, // check login status
				cookies			: true, // enable cookies to allow the server to access the session
				xfbml				: true  // parse XFBML
			});
		};
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "https://connect.facebook.net/zh_TW/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));