include ../mixins/flash-messages

doctype html
html(lang="zh-Hant-TW")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="keywords", content="奧革設計,UI設計,UX設計,介面設計,使用經驗設計,網頁設計,客製化網頁設計,響應式網頁設計,交互設計,RWD,UI,UX,UI Design,UX Design,User Interface Design,interaction design")
		meta(name="description", content="奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。")
		meta(name="author", content="奧革設計")

		link(rel="alternate", type="application/rss+xml", title="奧革設計 - 創業公司的設計夥伴", href="/feed/")
		link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
		link(href="/styles/site.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

		script(src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js', data-shr-siteid='55304172845f4680864cd0fe1d0ec44d', data-cfasync='false', async='async')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic,300italic', rel='stylesheet', type='text/css')

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block opengraph
			meta(property='og:image', content='http://www.ogdesign.tw/images/home-cover.jpg')
		block css
		block head

	body(ng-app="ogdesignApp" ng-controller="RootController" ng-cloak)

		.mobile-nav(ng-class="{'open': isOpenMenu}")
			.menu(ng-click="toggleMenu()", ng-class="{'is-active' : isOpenMenu}")
				div
				div
				div
			ul
				li(class=(section=='services')? "active" : ""): a(href="/services") 服務項目
				li(class=(section=='process')? "active" : ""): a(href="/process") 合作流程
				li(class=(section=='showcases')? "active" : ""): a(href="/showcases") 設計案例
				li(class=(section=='resources')? "active" : ""): a(href="/resources") 設計資源總匯
				li(class=(section=='blog')? "active" : ""): a(href="/blog") 部落格
				li(class=(section=='contactus')? "active" : ""): a(href="/contactus") 聯絡我們
			a.mobile-help(href="/qa")
				img(src="/images/mobile-help.svg", alt="")

		//- HEADER
		block header
			.header(header="#transparent-header", ng-class="{'show': showHeader}")
				.container
					.row.between-md.middle-md
						.col-xs-6.col-sm-6.col-md-1.textAlign-left
							h1: a(href="/")
								img(src="/images/logo.svg" alt="奧革設計")
						.col-md-7.hidden-xs.hidden-sm
							ul.nav
								li(class=(section=='services')? "active" : ""): a(href="/services") 服務項目
								li(class=(section=='process')? "active" : ""): a(href="/process") 合作流程
								li(class=(section=='showcases')? "active" : ""): a(href="/showcases") 設計案例
								li(class=(section=='resources')? "active" : ""): a(href="/resources") 設計資源總匯
								li(class=(section=='blog')? "active" : ""): a(href="/blog") 部落格
						.col-md-4.textAlign-right.hidden-xs.hidden-sm
							a.QA(href="/qa")
								i.material-icons help_outline
								span 常見問題
							a.button.button-ghost.button-grey.button-rounded.button-s.button-hover-primary(href="/contactus") 聯絡我們
						.col-xs-6.col-sm-6.col-md-11.textAlign-right.hidden-md.hidden-lg
							.menu(ng-click="toggleMenu()", ng-class="{'is-active' : isOpenMenu}", ng-show="!isOpenMenu")
								div
								div
								div

			#transparent-header.header.transparent
				.container
					.row.between-md.middle-md
						.col-xs-6.col-sm-6.col-md-1.textAlign-left
							h1: a(href="/")
								img(src="/images/logo-white.svg" alt="奧革設計")
						.col-md-7.hidden-xs.hidden-sm
							ul.nav
								li(class=(section=='services')? "active" : ""): a(href="/services") 服務項目
								li(class=(section=='process')? "active" : ""): a(href="/process") 合作流程
								li(class=(section=='showcases')? "active" : ""): a(href="/showcases") 設計案例
								li(class=(section=='resources')? "active" : ""): a(href="/resources") 設計資源總匯
								li(class=(section=='blog')? "active" : ""): a(href="/blog") 部落格
						.col-md-4.textAlign-right.hidden-xs.hidden-sm
							a.QA(href="/qa")
								i.material-icons help_outline
								span 常見問題
							a.button.button-ghost.button-white.button-rounded.button-s.button-hover-primary(href="/contactus") 聯絡我們
						.col-xs-6.col-sm-6.col-md-11.textAlign-right.hidden-md.hidden-lg
							.menu(ng-click="toggleMenu()", ng-class="{'is-active' : isOpenMenu}")
								div
								div
								div

		

		//- BODY
		#body
			.main-content
				block intro
				+flash-messages(messages)
				block content

		//- FOOTER
		.footer
			.container
				.row.top-md
					.col-sm-12.sitemap
						.links.hidden-sm.hidden-xs
							a.link-title(href='/') 關於我們
							a(href='/resources') 設計資源
							a(href='/blog') 部落格
							a(href='http://fb.com/ogdesign.tw' target="_blank") 粉絲團

						.links.hidden-sm.hidden-xs
							a.link-title(href='/services') 服務項目
							a(href='/services#user-experience') 使用經驗優化設計
							a(href='/services#user-interface') 使用者介面設計
							a(href='/services#responsive-web-design') 響應式網頁設計
							a(href='/services#visual-design') 視覺設計
							a(href='/services#mvp') 產品雛形設計
							a(href='/services#design-consult') 設計諮詢協助
						.links.hidden-sm.hidden-xs
							a.link-title(href='/process') 合作流程
							a(href='#') 產品需求分析
							a(href='#') 架構規劃
							a(href='#') 設計階段
							a(href='#') 正式開發
							a(href='#') 產品上線
						.links.hidden-md.hidden-sm
							a.link-title(href='#') 設計觀點
							a(href='#') 介面設計
							a(href='#') 用戶體驗
							a(href='#') 交互設計
							a(href='#') 產品設計
						.links
							a.link-title(href='#') 聯絡我們
							a.phone(href='#') 0927-598-161
							a(href='#') 信箱：augus@ogdesign.tw
							a(href='#') 地址：新北市三重區正義北路215號2樓
							a(href='#') 粉專：http://fb.com/ogdesign.tw
							.fb-like(data-href="https://www.facebook.com/ogdesign.tw", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true", data-width="200", data-colorscheme="light", style="display: block; color: #111D2D; width: 200px; overflow: hidden; height: 20px;     margin: 16px 0 12px 0;")
							.fb-follow(data-href="https://www.facebook.com/Augus.YiHao", data-width="90", data-layout="button_count", data-show-faces="true", style="display: block;")

		//- JAVASCRIPT
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js')
		script(src='/js/angular-google-analytics.min.js')
		script(src='/js/angular-lazy-img.min.js')

		script(src='/js/modules/imagesloaded.pkgd.min.js')
		script(src='/js/modules/masonry.pkgd.min.js')
		script(src='/js/modules/angular-masonry.min.js')

		script(src="/js/modules/angular-swiper/swiper.min.js")
		script(src="/js/modules/angular-swiper/angular-swiper.js")
		link(href="/js/modules/angular-swiper/swiper.min.css", rel="stylesheet")

		sceipt(src='/js/app.js')

		script.
			function isScrolledIntoView(elem) {
				var docViewTop = $(window).scrollTop();
				var docViewBottom = docViewTop + $(window).height();

				var elemTop = $(elem).offset().top;
				var elemBottom = elemTop + $(elem).height();

				return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
			}
			var app = angular.module("ogdesignApp", ['angular-google-analytics', 'wu.masonry', 'ksSwiper']);
			app.directive("header", function ($window) {
				return function(scope, element, attrs) {
					angular.element($window).bind("scroll", function() {
						scope.showHeader = false;
						if ( !isScrolledIntoView($(attrs.header)) ) {
							scope.showHeader = true;
						}
						scope.$apply();
					});
				};
			});
			app.controller("RootController", function ($scope) {
				$scope.isOpenMenu = false;
				$scope.toggleMenu = function () {
					$scope.isOpenMenu = !$scope.isOpenMenu;
				};
			});
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-52653674-2', 'auto');
			ga('require', 'linkid');
			ga('send', 'pageview');		

			$(document).on('click', 'a', function(event){
			    // event.preventDefault();
			    $('html, body').animate({
			        scrollTop: $( $.attr(this, 'href') ).offset().top
			    }, 300);
			});
			$(document).ready(function() {
				hljs.configure({
				  tabReplace: '    ', // 4 spaces
				})
				$('pre code').each(function(i, block) {
					hljs.highlightBlock(block);
				});
			});

	block js
